
<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/image/customs.png" width="100">
    </a>
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
        }
        .navbar {
            overflow: hidden;
        }
        .navbar a {
            float: left;
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #5a5a5a;
            color: rgb(0, 0, 0);
        }
        @media screen and (max-width: 600px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }
    </style>
</head>
<body>

    <div class="navbar">
        <a href="#">Início</a>
        <a href="#">Sobre</a>
        <a href="#">Serviços</a>
        <a href="#">Contato</a>
    </div>

    <div style="padding: 20px;">
        <h1>A Moda Antiga!!</h1>
        <p>Catalogo</p>
    </div>

</body>
</html>
</nav>